html,
body {
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

body {
  background-color: #F8F9FA;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spot-marker {
  cursor: url("/public/spot_marker.png"), auto;
}

.map-spotoverlay {
  position: relative;
  padding: 12px;
  background: white;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  filter: drop-shadow(0px 2px 20px rgba(73, 80, 87, 0.2));
  bottom: 70px;
  color: #FD476D;
  font-weight: 600;
}

.map-spotoverlay:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: calc(50% - 10px);
  border-width: 15px 10px 0;
  border-style: solid;
  border-color: white transparent;
  display: block;
  width: 0;
}
