html,body,h1,h2,h3,h4,h5,h6,p,
ul,ol,li,dl,dt,dd,
table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
}
form,input,label,legend,button,textarea {
	margin: 0;
	padding: 0;
	border-radius: 0;
	border: 0;
	background: transparent;
	font: inherit;
}
li {
	list-style: none;
}
a:hover {
	text-decoration:none;
}